
doctype html 
html 
  head 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/sendCommand.js")
  body 
    h1 Smart Irrigation System 
    p Welcome to the smart irrigation system dashboard.

    button(onclick="sendCommand('START_PUMP_1')") Start Pump 1
    button(onclick="sendCommand('STOP_PUMP_1')") Stop Pump 1
    button(onclick="sendCommand('START_PUMP_2')") Start Pump 2
    button(onclick="sendCommand('STOP_PUMP_2')") Stop Pump 2
    button(onclick="sendCommand('START_PUMP_3')") Start Pump 3
    button(onclick="sendCommand('STOP_PUMP_3')") Stop Pump 3
    button(onclick="sendCommand('START_ALL')") Start All Pumps
    button(onclick="sendCommand('STOP_ALL')") Stop All Pumps
    button(onclick="sendCommand('DELAY_10')") Delay 10 Seconds

    h2 Data obtained from database:
    if sensors && sensors.length 
      ul 
      each sensor in sensors 
        li #{sensor.sensorType}: #{sensor.value} at #{sensor.timestamp}
    else 
      p No sensor data available.

    h2 Weather log (working with weather API)
    if weatherData
      ul 
      each data in weatherData
        li (#{data.time}) 
          ul 
            li Precipitation: #{data.rainAmount}mm/h 
            li Probability of precipitation:#{data.rainChance}%
    else 
      p No sensor data available.